<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Blizzard_Controller.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="SC_Controller.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <Blizzard_Controller.Properties.Settings>
            <setting name="IncreaseCursorSpeed" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Deadzone" serializeAs="String">
                <value>0.1</value>
            </setting>
            <setting name="overlay" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="cursorSpeed" serializeAs="String">
                <value>12</value>
            </setting>
        </Blizzard_Controller.Properties.Settings>
        <SC_Controller.Properties.Settings>
            <setting name="IncreaseCursorSpeed" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Deadzone" serializeAs="String">
                <value>6000</value>
            </setting>
            <setting name="overlay" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="cursorSpeed" serializeAs="String">
                <value>12</value>
            </setting>
        </SC_Controller.Properties.Settings>
    </userSettings>
</configuration>
